name: dart test
on:
  push:
    branches:
      - '*'

jobs:
  test-dart:
    name: Test dart
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - name: Run Pub Get
        run: cd splitio/; flutter pub get
      - name: Run flutter test
        run: cd splitio/; flutter test
      - name: Run flutter splitio_android test
        run: cd splitio_android/; flutter test
      - name: Run flutter splitio_ios test
        run: cd splitio_ios/; flutter test
